html {
    height: 100%;
    text-align: center;
}

body {
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

header {
    background-color: rgb(50, 50, 50);
    font-size: xx-large;
    padding: 20px;
    border-style: double;
    border-color: aqua;
}

#boxinfo{
    padding: 10px;
    font-size: x-large;
}

#boxnavlabs{
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: x-large;
}

a{
    color: aqua;
    font-weight: bold;
}

#boxnavparciales{
    padding: 10px;
    justify-content: center;
    font-size: x-large;
}

footer {
    background-color: rgb(50, 50, 50);
    padding: 10px;
    display: flex;
    justify-content: end;
}